@mixin s-container {
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
}

@mixin s-headline($font-size, $color: "#fff") {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: $font-size;
  color: $color;
}

@mixin responsive($screenWidth) {
  @media (max-width: $screenWidth) {
    @content;
  }
}
